In [2]:
#!wget https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

--2025-01-27 20:38:05--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
Resolviendo github.com (github.com)... 140.82.113.4
Conectando con github.com (github.com)[140.82.113.4]:443... conectado.
Petición HTTP enviada, esperando respuesta... 302 Found
Localización: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250128%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250128T023805Z&X-Amz-Expires=300&X-Amz-Signature=a47d5710b2ea4203fd297ea44a70a99fb9c9db9f9848f712b93f3c13d85e95f6&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream [siguiendo]
--2025-01-27 20:38:05--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250128%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250128T023805Z&X-Amz-Expires=300&X-Amz-Signature=a47d5710b2ea4203fd297ea44a70a99fb9c9db9f9848f712b93f3c13d85e95f6&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream
Resolviendo objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.110.133, 185.199.111.133, 185.199.108.133, ...
Conectando con objects.githubusercontent.com (objects.githubusercontent.com)[185.199.110.133]:443... conectado.
Petición HTTP enviada, esperando respuesta... 200 OK
Longitud: 12322 (12K) [application/octet-stream]
Grabando a: «taxi_zone_lookup.csv»

taxi_zone_lookup.cs 100%[===================>]  12.03K  --.-KB/s    en 0.001s

2025-01-27 20:38:06 (17.1 MB/s) - «taxi_zone_lookup.csv» guardado [12322/12322]

In [3]:
from sqlalchemy import create_engine
import pandas as pd

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [4]:
df_zones = pd.read_csv('taxi_zone_lookup.csv')

In [5]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [6]:
engine = create_engine(f'postgresql://root:root@localhost:5432/ny_taxi')

In [7]:
engine.connect()

In [8]:
df_zones.to_sql(name='zones_homework', con=engine, if_exists='replace')

265