In [2]:
!wget https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv

--2025-01-20 22:07:18--  https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv
Resolviendo d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 2600:9000:26f5:4c00:b:20a5:b140:21, 2600:9000:26f5:6400:b:20a5:b140:21, 2600:9000:26f5:e000:b:20a5:b140:21, ...
Conectando con d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)[2600:9000:26f5:4c00:b:20a5:b140:21]:443... conectado.
Petición HTTP enviada, esperando respuesta... 200 OK
Longitud: 12331 (12K) [text/csv]
Grabando a: «taxi_zone_lookup.csv»

taxi_zone_lookup.cs 100%[===================>]  12.04K  --.-KB/s    en 0.002s

2025-01-20 22:07:18 (5.22 MB/s) - «taxi_zone_lookup.csv» guardado [12331/12331]

In [1]:
from sqlalchemy import create_engine
import pandas as pd

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [2]:
df_zones = pd.read_csv('taxi_zone_lookup.csv')

In [5]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [3]:
engine = create_engine(f'postgresql://root:root@localhost:5432/ny_taxi')

In [4]:
engine.connect()

In [5]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265