In [11]:
from sqlalchemy import create_engine
import pandas as pd

In [2]:
df = pd.read_csv('green_tripdata_2019-01.csv', nrows=100)

In [4]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [6]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi_kestra')

In [7]:
engine.connect()

In [8]:
print(pd.io.sql.get_schema(df, name='green_trip_data_staging"', con=engine))

CREATE TABLE "green_trip_data_staging""" (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [14]:
df_yellow = pd.read_csv('yellow_tripdata_2019-01.csv', nrows=100)

In [15]:
df_yellow.tpep_pickup_datetime = pd.to_datetime(df_yellow.tpep_pickup_datetime)
df_yellow.tpep_dropoff_datetime = pd.to_datetime(df_yellow.tpep_dropoff_datetime)

In [16]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi_kestra')

In [17]:
engine.connect()

In [18]:
print(pd.io.sql.get_schema(df_yellow, name='yellow_trip_data_staging"', con=engine))

CREATE TABLE "yellow_trip_data_staging""" (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)