In [58]:
import pyspark 
from pyspark.sql import SparkSession

In [21]:
pyspark.__version__

'3.3.2'

In [59]:
spark = SparkSession.builder \
        .master('local[*]') \
        .appName('test')\
        .getOrCreate()

In [11]:
pyspark.version

In [23]:
!ls -lakh code/data/homework/raw

total 62M
drwxrwxr-x 2 ramisu ramisu 4.0K Mar 11 03:40 .
drwxrwxr-x 3 ramisu ramisu 4.0K Mar 11 04:49 ..
-rw-rw-r-- 1 ramisu ramisu  62M Dec 18 21:21 yellow_tripdata_2024-10.parquet

In [24]:
df = spark.read \
    .parquet('code/data/homework/raw/yellow_tripdata_2024-10.parquet')

In [25]:
df.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       2| 2024-10-01 00:30:44|  2024-10-01 00:48:26|              1|          3.0|         1|                 N|         162|         246|           1|       18.4|  1.0|    0.5|       1.5|         0.0|                  1.0|        24.9|                 2.5|        0.0|
|       1| 2024-10-01 00:12:20|  2024-10-01 00:25:25|              1|          2.2|         1|                 N|          48|         236|           1|       14.2|  3.5|    0.5|       3.8|         0.0|                  1.0|        23.0|                 2.5|        0.0|
|       1| 2024-10-01 00:04:46|  2024-10-01 00:13:52|              1|          2.7|         1|                 N|         142|          24|           1|       13.5|  3.5|    0.5|       3.7|         0.0|                  1.0|        22.2|                 2.5|        0.0|
|       1| 2024-10-01 00:12:10|  2024-10-01 00:23:01|              1|          3.1|         1|                 N|         233|          75|           1|       14.2|  3.5|    0.5|       2.0|         0.0|                  1.0|        21.2|                 2.5|        0.0|
|       1| 2024-10-01 00:30:22|  2024-10-01 00:30:39|              1|          0.0|         1|                 N|         262|         262|           3|        3.0|  3.5|    0.5|       0.0|         0.0|                  1.0|         8.0|                 2.5|        0.0|
|       2| 2024-10-01 00:31:20|  2024-10-01 00:36:00|              2|         0.97|         1|                 N|         137|         137|           1|        7.2|  1.0|    0.5|      2.44|         0.0|                  1.0|       14.64|                 2.5|        0.0|
|       1| 2024-10-01 00:42:57|  2024-10-01 00:49:01|              1|          1.3|         1|                 N|         142|          48|           1|        7.9|  3.5|    0.5|      2.55|         0.0|                  1.0|       15.45|                 2.5|        0.0|
|       1| 2024-10-01 00:59:55|  2024-10-01 01:02:24|              1|          0.5|         1|                 N|         230|         161|           1|        5.1|  3.5|    0.5|       2.0|         0.0|                  1.0|        12.1|                 2.5|        0.0|
|       1| 2024-10-01 00:00:47|  2024-10-01 00:04:22|              0|          1.1|         1|                 N|         142|         237|           1|        7.2|  3.5|    0.5|       3.0|         0.0|                  1.0|        15.2|                 2.5|        0.0|
|       1| 2024-10-01 00:17:36|  2024-10-01 00:26:22|              1|          2.2|         1|                 N|         162|         145|           1|       11.4|  3.5|    0.5|       3.3|         0.0|                  1.0|        19.7|                 2.5|        0.0|
|       1| 2024-10-01 00:49:00|  2024-10-01 00:52:20|              1|          0.6|         1|                 N|         229|         162|           1|        5.1|  3.5|    0.5|       2.0|         0.0|                  1.0|        12.1|                 2.5|        0.0|
|       2| 2024-10-01 00:07:26|  2024-10-01 00:13:20|              1|          0.9|         1|                 N|         162|         162|           1|        7.9|  1.0|    0.5|      3.87|         0.0|                  1.0|       16.77|                 2.5|        0.0|
|       2| 2024-10-01 00:17:11|  2024-10-01 00:25:00|              1|         1.33|         1|                 N|         162|         230|           1|        9.3|  1.0|    0.5|       2.0|         0.0|                  1.0|        16.3|                 2.5|        0.0|
|       2| 2024-10-01 00:00:34|  2024-10-01 00:05:13|              1|         1.79|         1|                 N|         211|         234|           1|        9.3|  1.0|    0.5|      2.86|         0.0|                  1.0|       17.16|                 2.5|        0.0|
|       2| 2024-09-30 23:58:40|  2024-10-01 00:20:26|              1|         5.16|         1|                 N|         142|           7|           1|       24.7|  1.0|    0.5|       0.0|         0.0|                  1.0|        29.7|                 2.5|        0.0|
|       1| 2024-10-01 00:55:29|  2024-10-01 01:42:35|              1|         11.3|        99|                 N|         161|         197|           1|       39.5|  0.0|    0.5|       0.0|        6.94|                  1.0|       47.94|                 0.0|        0.0|
|       1| 2024-10-01 00:08:59|  2024-10-01 00:40:58|              1|         20.6|         1|                 N|         132|         243|           2|       76.5| 2.75|    0.5|       0.0|        6.94|                  1.0|       87.69|                 0.0|       1.75|
|       2| 2024-10-01 00:18:38|  2024-10-01 00:36:47|              2|         7.42|         1|                 N|         239|         247|           4|      -33.1| -1.0|   -0.5|       0.0|         0.0|                 -1.0|       -38.1|                -2.5|        0.0|
|       2| 2024-10-01 00:18:38|  2024-10-01 00:36:47|              2|         7.42|         1|                 N|         239|         247|           4|       33.1|  1.0|    0.5|       0.0|         0.0|                  1.0|        38.1|                 2.5|        0.0|
|       2| 2024-10-01 00:39:33|  2024-10-01 00:53:59|              1|         4.49|         1|                 N|         247|          60|           2|       21.9|  1.0|    0.5|       0.0|         0.0|                  1.0|        24.4|                 0.0|        0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 20 rows

In [26]:
df.dtypes

[('VendorID', 'int'),
 ('tpep_pickup_datetime', 'timestamp'),
 ('tpep_dropoff_datetime', 'timestamp'),
 ('passenger_count', 'bigint'),
 ('trip_distance', 'double'),
 ('RatecodeID', 'bigint'),
 ('store_and_fwd_flag', 'string'),
 ('PULocationID', 'int'),
 ('DOLocationID', 'int'),
 ('payment_type', 'bigint'),
 ('fare_amount', 'double'),
 ('extra', 'double'),
 ('mta_tax', 'double'),
 ('tip_amount', 'double'),
 ('tolls_amount', 'double'),
 ('improvement_surcharge', 'double'),
 ('total_amount', 'double'),
 ('congestion_surcharge', 'double'),
 ('Airport_fee', 'double')]

In [27]:
df_repartitioned = df.repartition(4) ## this is a lazy command

In [28]:
df_repartitioned.write.parquet('code/data/homework/partitioned')

In [33]:
from pyspark.sql.functions import col

df_q_3 = df_repartitioned \
    .filter(col("tpep_pickup_datetime").cast("date") == '2024-10-15')

In [35]:
df_q_3.count()

128893

In [36]:
#df_q_3_original = df \
 #   .filter(col("tpep_pickup_datetime").cast("date") == '2024-10-15')
df_q_3_original = df.where("DATE(tpep_pickup_datetime) = '2024-10-15'")

In [37]:
df_q_3_original.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       2| 2024-10-15 07:31:31|  2024-10-15 07:40:59|              1|         2.24|         1|                 N|          90|         231|           1|       12.1|  0.0|    0.5|      4.02|         0.0|                  1.0|       20.12|                 2.5|        0.0|
|       2| 2024-10-15 07:52:44|  2024-10-15 08:04:09|              1|         1.32|         1|                 N|         164|         170|           1|       12.1|  0.0|    0.5|      3.22|         0.0|                  1.0|       19.32|                 2.5|        0.0|
|       2| 2024-10-15 12:54:48|  2024-10-15 13:49:24|              1|        14.61|         2|                 N|         229|         216|           1|       70.0|  0.0|    0.5|      18.5|         0.0|                  1.0|        92.5|                 2.5|        0.0|
|       2| 2024-10-15 14:58:31|  2024-10-15 15:56:27|              1|        18.82|         2|                 N|         132|          75|           2|       70.0|  0.0|    0.5|       0.0|        6.94|                  1.0|       80.19|                 0.0|       1.75|
|       2| 2024-10-15 15:25:10|  2024-10-15 16:10:52|              1|         8.93|         1|                 N|         138|         230|           1|       50.6|  5.0|    0.5|     13.66|        6.94|                  1.0|       81.95|                 2.5|       1.75|
|       2| 2024-10-15 16:20:05|  2024-10-15 16:36:27|              1|         2.78|         1|                 N|          68|         239|           1|       17.0|  0.0|    0.5|       2.0|         0.0|                  1.0|        23.0|                 2.5|        0.0|
|       2| 2024-10-15 16:17:04|  2024-10-15 16:28:13|              1|         1.36|         1|                 N|          75|         151|           1|       12.1|  0.0|    0.5|      2.72|         0.0|                  1.0|       16.32|                 0.0|        0.0|
|       2| 2024-10-15 16:38:27|  2024-10-15 16:42:05|              1|         0.52|         1|                 N|         239|         239|           1|        5.8|  0.0|    0.5|      1.47|         0.0|                  1.0|       11.27|                 2.5|        0.0|
|       2| 2024-10-15 16:59:33|  2024-10-15 17:28:41|              1|         3.38|         1|                 N|         142|         224|           1|       26.1|  0.0|    0.5|       2.0|         0.0|                  1.0|        32.1|                 2.5|        0.0|
|       2| 2024-10-15 17:43:55|  2024-10-15 18:19:53|              1|         2.89|         1|                 N|         107|          43|           1|       29.6|  0.0|    0.5|       8.4|         0.0|                  1.0|        42.0|                 2.5|        0.0|
|       2| 2024-10-15 17:25:25|  2024-10-15 17:38:07|              1|         1.87|         1|                 N|          13|         249|           1|       13.5|  0.0|    0.5|      1.08|         0.0|                  1.0|       18.58|                 2.5|        0.0|
|       2| 2024-10-15 17:47:49|  2024-10-15 18:26:58|              1|         5.58|         1|                 N|         158|         238|           1|       35.9|  0.0|    0.5|       3.0|         0.0|                  1.0|        42.9|                 2.5|        0.0|
|       2| 2024-10-15 18:21:41|  2024-10-15 18:36:02|              1|         1.71|         1|                 N|          43|         229|           2|       14.2|  0.0|    0.5|       0.0|         0.0|                  1.0|        18.2|                 2.5|        0.0|
|       2| 2024-10-15 18:42:21|  2024-10-15 18:59:54|              1|         2.02|         1|                 N|         229|         142|           1|       16.3|  0.0|    0.5|      4.06|         0.0|                  1.0|       24.36|                 2.5|        0.0|
|       2| 2024-10-15 18:29:24|  2024-10-15 18:35:26|              1|         0.86|         1|                 N|         151|         238|           1|        7.9|  0.0|    0.5|      2.38|         0.0|                  1.0|       14.28|                 2.5|        0.0|
|       2| 2024-10-15 19:18:02|  2024-10-15 19:21:58|              1|         0.55|         1|                 N|         158|         249|           2|        5.8|  0.0|    0.5|       0.0|         0.0|                  1.0|         9.8|                 2.5|        0.0|
|       2| 2024-10-15 20:17:14|  2024-10-15 20:24:27|              1|          1.5|         1|                 N|         141|         262|           1|        9.3|  1.0|    0.5|      2.86|         0.0|                  1.0|       17.16|                 2.5|        0.0|
|       2| 2024-10-15 20:35:25|  2024-10-15 20:46:09|              1|         1.89|         1|                 N|         236|         229|           1|       12.1|  1.0|    0.5|      3.42|         0.0|                  1.0|       20.52|                 2.5|        0.0|
|       2| 2024-10-15 20:50:47|  2024-10-15 21:10:26|              1|         3.78|         1|                 N|         162|         238|           1|       20.5|  1.0|    0.5|       5.1|         0.0|                  1.0|        30.6|                 2.5|        0.0|
|       2| 2024-10-15 21:13:32|  2024-10-15 21:19:02|              1|         1.01|         1|                 N|         238|         239|           2|        7.9|  1.0|    0.5|       0.0|         0.0|                  1.0|        12.9|                 2.5|        0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 20 rows

In [38]:
df_q_3_original.count()

128893

In [39]:
df_repartitioned.createOrReplaceTempView('trips_repartitioned')
df.createOrReplaceTempView('trips')

In [41]:
query = """
SELECT * FROM trips 
WHERE TO_DATE(FROM_UTC_TIMESTAMP(tpep_pickup_datetime, 'Europe/Berlin')) = '2024-10-15'
"""

In [43]:
df_filtered = spark.sql(query)
df_filtered.count()

125567

In [44]:
query_repartitioned = """
SELECT * FROM trips_repartitioned 
WHERE TO_DATE(FROM_UTC_TIMESTAMP(tpep_pickup_datetime, 'Europe/Berlin')) = '2024-10-15'
"""

In [45]:
df_filtered_repartitioned = spark.sql(query_repartitioned)
df_filtered_repartitioned.count()

125567

In [56]:
query_longest_trip = """
SELECT 
    tpep_pickup_datetime as start,
    tpep_dropoff_datetime as end,
    UNIX_TIMESTAMP(tpep_dropoff_datetime) - UNIX_TIMESTAMP(tpep_pickup_datetime) AS difference,
    (UNIX_TIMESTAMP(tpep_dropoff_datetime) - UNIX_TIMESTAMP(tpep_pickup_datetime)) / 3600 AS difference_hrs,
    (UNIX_TIMESTAMP(tpep_dropoff_datetime) - UNIX_TIMESTAMP(tpep_pickup_datetime)) / (3600*12) AS difference_days
FROM trips 
ORDER BY 3 desc
LIMIT 100
"""
df_longest = spark.sql(query_longest_trip)
df_longest.show()

+-------------------+-------------------+----------+------------------+------------------+
|              start|                end|difference|    difference_hrs|   difference_days|
+-------------------+-------------------+----------+------------------+------------------+
|2024-10-16 13:03:49|2024-10-23 07:40:53|    585424|162.61777777777777|13.551481481481481|
|2024-10-03 18:47:25|2024-10-09 18:06:55|    515970|           143.325|          11.94375|
|2024-10-22 16:00:55|2024-10-28 09:46:33|    495938|137.76055555555556|11.480046296296296|
|2024-10-18 09:53:32|2024-10-23 04:43:37|    413405|114.83472222222223| 9.569560185185185|
|2024-10-21 00:36:24|2024-10-24 18:30:18|    323634| 89.89833333333333| 7.491527777777778|
|2024-10-20 13:30:52|2024-10-24 06:57:38|    322006| 89.44611111111111| 7.453842592592593|
|2024-10-22 16:04:52|2024-10-25 14:22:49|    253077| 70.29916666666666| 5.858263888888889|
|2024-10-12 19:32:51|2024-10-15 15:07:15|    243264| 67.57333333333334| 5.631111111111111|
|2024-10-17 17:58:18|2024-10-20 12:02:18|    237840| 66.06666666666666|5.5055555555555555|
|2024-10-21 14:28:21|2024-10-23 12:53:42|    167121|           46.4225|3.8685416666666668|
|2024-10-20 18:58:28|2024-10-22 13:17:00|    152312| 42.30888888888889|3.5257407407407406|
|2024-10-24 20:29:58|2024-10-26 10:58:25|    138507| 38.47416666666667|3.2061805555555556|
|2024-10-23 23:52:02|2024-10-25 09:49:06|    122224| 33.95111111111111|2.8292592592592594|
|2024-10-02 10:36:50|2024-10-03 12:54:45|     94675| 26.29861111111111| 2.191550925925926|
|2024-10-14 22:39:53|2024-10-15 23:57:22|     91049| 25.29138888888889|2.1076157407407408|
|2024-10-15 11:49:15|2024-10-16 13:03:33|     90858|25.238333333333333|2.1031944444444446|
|2024-10-23 11:22:58|2024-10-24 11:51:10|     88092|             24.47|2.0391666666666666|
|2024-10-20 13:37:44|2024-10-21 13:37:32|     86388|23.996666666666666|1.9997222222222222|
|2024-10-14 20:22:20|2024-10-15 20:22:03|     86383|23.995277777777776|1.9996064814814816|
|2024-10-02 19:04:07|2024-10-03 19:03:48|     86381|23.994722222222222|1.9995601851851852|
+-------------------+-------------------+----------+------------------+------------------+
only showing top 20 rows

In [57]:
query_longest_trip_repartitioned = """
SELECT 
    tpep_pickup_datetime as start,
    tpep_dropoff_datetime as end,
    UNIX_TIMESTAMP(tpep_dropoff_datetime) - UNIX_TIMESTAMP(tpep_pickup_datetime) AS difference,
    (UNIX_TIMESTAMP(tpep_dropoff_datetime) - UNIX_TIMESTAMP(tpep_pickup_datetime)) / 3600 AS difference_hrs,
    (UNIX_TIMESTAMP(tpep_dropoff_datetime) - UNIX_TIMESTAMP(tpep_pickup_datetime)) / (3600*12) AS difference_days
FROM trips_repartitioned 
ORDER BY 3 desc
LIMIT 100
"""
df_longest_repartitioned = spark.sql(query_longest_trip_repartitioned)
df_longest_repartitioned.show()

+-------------------+-------------------+----------+------------------+------------------+
|              start|                end|difference|    difference_hrs|   difference_days|
+-------------------+-------------------+----------+------------------+------------------+
|2024-10-16 13:03:49|2024-10-23 07:40:53|    585424|162.61777777777777|13.551481481481481|
|2024-10-03 18:47:25|2024-10-09 18:06:55|    515970|           143.325|          11.94375|
|2024-10-22 16:00:55|2024-10-28 09:46:33|    495938|137.76055555555556|11.480046296296296|
|2024-10-18 09:53:32|2024-10-23 04:43:37|    413405|114.83472222222223| 9.569560185185185|
|2024-10-21 00:36:24|2024-10-24 18:30:18|    323634| 89.89833333333333| 7.491527777777778|
|2024-10-20 13:30:52|2024-10-24 06:57:38|    322006| 89.44611111111111| 7.453842592592593|
|2024-10-22 16:04:52|2024-10-25 14:22:49|    253077| 70.29916666666666| 5.858263888888889|
|2024-10-12 19:32:51|2024-10-15 15:07:15|    243264| 67.57333333333334| 5.631111111111111|
|2024-10-17 17:58:18|2024-10-20 12:02:18|    237840| 66.06666666666666|5.5055555555555555|
|2024-10-21 14:28:21|2024-10-23 12:53:42|    167121|           46.4225|3.8685416666666668|
|2024-10-20 18:58:28|2024-10-22 13:17:00|    152312| 42.30888888888889|3.5257407407407406|
|2024-10-24 20:29:58|2024-10-26 10:58:25|    138507| 38.47416666666667|3.2061805555555556|
|2024-10-23 23:52:02|2024-10-25 09:49:06|    122224| 33.95111111111111|2.8292592592592594|
|2024-10-02 10:36:50|2024-10-03 12:54:45|     94675| 26.29861111111111| 2.191550925925926|
|2024-10-14 22:39:53|2024-10-15 23:57:22|     91049| 25.29138888888889|2.1076157407407408|
|2024-10-15 11:49:15|2024-10-16 13:03:33|     90858|25.238333333333333|2.1031944444444446|
|2024-10-23 11:22:58|2024-10-24 11:51:10|     88092|             24.47|2.0391666666666666|
|2024-10-20 13:37:44|2024-10-21 13:37:32|     86388|23.996666666666666|1.9997222222222222|
|2024-10-14 20:22:20|2024-10-15 20:22:03|     86383|23.995277777777776|1.9996064814814816|
|2024-10-02 19:04:07|2024-10-03 19:03:48|     86381|23.994722222222222|1.9995601851851852|
+-------------------+-------------------+----------+------------------+------------------+
only showing top 20 rows

In [ ]:
!wget https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv

In [95]:
df_lookup = spark.read \
    .option("header","true")\
    .csv('code/data/homework/raw/taxi_zone_lookup.csv')

In [96]:
df_lookup.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [97]:
df_lookup.createOrReplaceTempView('lookup_table')

In [98]:
simple_query = """
SELECT * FROM lookup_table
"""
df_simple = spark.sql(simple_query)
df_simple.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [100]:
query_least_frequent = """
SELECT 
    p.pickup_location_id,
    l.Borough,
    l.Zone,
    l.service_zone
FROM(
SELECT 
    PULocationID as pickup_location_id,
    COUNT(PULocationID) AS count_pu_location
FROM trips 
WHERE YEAR(tpep_pickup_datetime) = 2024
AND MONTH(tpep_pickup_datetime) = 10
GROUP BY PULocationID
ORDER BY 2 asc
limit 1
)  p
LEFT JOIN lookup_table l ON l.LocationID = p.pickup_location_id
"""
df_least = spark.sql(query_least_frequent)
df_least.show()

+------------------+---------+--------------------+------------+
|pickup_location_id|  Borough|                Zone|service_zone|
+------------------+---------+--------------------+------------+
|               105|Manhattan|Governor's Island...| Yellow Zone|
+------------------+---------+--------------------+------------+

In [101]:
df_least.write.csv('code/data/homework/answer/least.csv')